<nav class="nav-header">
  <section class=nav-bar-left>
    <a class="navbar-brand" href="/">
      <img src="/images/logo2.png" alt="{{ site.title }}" alt="OlneyFan" />
    </a>

    <header>
      <h1>You're not the only lonely in Olney</h1>
    </header>
  </section>

  <section class="nav-bar-right">
    <img src="/images/mountains.png" alt="{{ site.title }}" alt="OlneyFan" />
  </section>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul id="navbar" class="navbar-nav ml-auto">
    </ul>
  </div> -->
</nav>