$primaryColor: #00aff0;
// $primaryBackgroundColor: rgba(0,0,0,0.3);
$primaryBackgroundColor: #ffffff;

$blueAccent: #00a3e0;
$tangerineAccent: #ff6a39;
$coralAccent: #da1984;

$darkGrey: #475155;
$borderColor: #eaf0f3;
$footerColor: #9ba9af;
$footerBorderColor: #6b757b;

// ----- Generic variables -----

.flex-display {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.hidden {
	display: none;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.4;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	white-space: nowrap;
	border: 1px solid transparent;
}

.primary-btn {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4; 
}

.left {
	float: left;
}

.center {
	text-align: center;
}

.clear
{
	overflow: hidden;
}

// ----- Color specific variables -----

.triangle-right {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-left: 16px solid $blueAccent;
	border-bottom: 8px solid transparent;	
}

.triangle-right-blue {
	@extend .triangle-right;
	border-left: 16px solid $blueAccent;
}

.triangle-right-tangerine {
	@extend .triangle-right;
	border-left: 16px solid $tangerineAccent;
}

.triangle-right-coral {
	@extend .triangle-right;
	border-left: 16px solid $coralAccent;
}

.blue-text {
	color: $blueAccent;
}

.tangerine-text {
	color: $tangerineAccent;
}

.coral-text {
	color: $coralAccent;
}

.blue-bullets {
	li {
		display: block;
		list-style: none; 
		
		/* Give the bullet room on the left hand side */
		padding: 0;
		position: relative;

		&:before {
			color: $blueAccent;  
			/* color of bullet or square */
			content: "\2022"; 
			/* Unicode of character to precede the list item */
			display: inline-block;
			font-size: 1.5em; 
			/* use em or % */ 
			left: -.8em; 
			/* use em, line up bullet flush with left hand side */
			position: absolute;
			/* Set the bullet positioned absolutely top left */
			top: -.3em; 
		}
	}
}

.pink-bullets {
	li {
		display: block;
		list-style: none; 
		
		/* Give the bullet room on the left hand side */
		padding: 0;
		position: relative;

		&:before {
			color: $coralAccent;  
			/* color of bullet or square */
			content: "\2022"; 
			/* Unicode of character to precede the list item */
			display: inline-block;
			font-size: 1.5em; 
			/* use em or % */ 
			left: -.8em; 
			/* use em, line up bullet flush with left hand side */
			position: absolute;
			/* Set the bullet positioned absolutely top left */
			top: -.3em; 
		}
	}
}